@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.hacker-bg{
    background-image: url("https://media4.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif?cid=6c09b952zh3uooosw0jtyfyt5m29slmt81ve6gt2mk30360n&ep=v1_internal_gif_by_id&rid=giphy.gif");
    background-repeat: repeat;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
}